.cart-image {
  width: 88px;
  height: 88px;
}

.upload-wrapper {
  padding: 100px 0;
}
.upload-wrapper .header-section {
  margin-bottom: 50px;
}
.upload-wrapper .header-section h1 {
  font-size: 45px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.upload-wrapper .header-section p {
  font-family: "Raleway", sans-serif;
  font-size: 27px;
  color: #000;
}
.upload-wrapper .main-table thead {
  padding-bottom: 20px;
}
.upload-wrapper .main-table .wide {
  width: 70%;
}
.upload-wrapper .main-table .short {
  width: 15%;
  text-align: center;
}
.upload-wrapper .main-table th {
  background-color: #57abe0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.upload-wrapper .main-table .main-item {
  padding: 10px 0;
  vertical-align: middle;
}
.upload-wrapper .main-table .inner-table td {
  padding: 0 !important;
}

.preview-image {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.image-label {
  font-size: 16px;
  color: #57abe0;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.selection-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin-bottom: 10px;
}

.dropdown-wrapper {
  position: relative;
  margin-bottom: 15px;
}
.dropdown-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  padding-right: 50px;
}
.dropdown-wrapper select::-ms-expand {
  display: none;
}
.dropdown-wrapper select:focus {
  outline: none;
}
.dropdown-wrapper .icon-div {
  background-color: #9e9e9e;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  pointer-events: none;
}

.option-row {
  margin-bottom: 10px;
}

.option-wrapper {
  display: flex;
  gap: 10px;
}
.option-wrapper input[type=radio] {
  position: absolute;
  left: -99999999px;
}
.option-wrapper input:checked + label span {
  background-color: #57abe0;
}
.option-wrapper label {
  height: 20px;
  width: 20px;
  border: 1px solid #57abe0;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.option-wrapper label span {
  display: block;
  height: 70%;
  width: 70%;
  position: absolute;
  border-radius: 50%;
}
.option-wrapper .option-name {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.option-wrapper .dropdown-wrapper {
  width: 100%;
  margin-bottom: 0;
}
.option-wrapper .dropdown-wrapper i {
  font-size: 14px;
}
.option-wrapper .dropdown-wrapper .product_dropdown {
  font-size: 14px;
  padding: 5px;
}

.width-container {
  display: flex;
  align-items: stretch;
  gap: 5px;
}
.width-container input {
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  font-size: 14px;
  border-radius: 0;
}

.container-custom {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.price-counter {
  display: flex;
  align-items: stretch;
  max-width: 177px;
  margin: 0 auto;
  border: 1px solid #9e9e9e;
}
.price-counter input {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #000;
}
.price-counter a {
  display: block;
  background-color: #e2007b;
  color: #fff !important;
  font-size: 30px;
  padding: 5px 10px;
  line-height: 1;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.value-price {
  text-align: center;
}
.value-price .original-price {
  font-size: 24px;
  color: #e2007b;
  font-weight: 600;
}
.value-price .discounted-price {
  font-size: 18px;
  color: #9e9e9e;
  font-weight: 600;
  text-decoration: line-through;
}

.order__delete-link {
  border: 3px solid #e2007b;
  padding: 5px;
  border-radius: 3px;
  line-height: 1;
  float: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.order__delete-link i {
  font-size: 20px;
  line-height: 1;
  color: #e2007b;
}

.custom-table .table-header {
  background-color: #57abe0;
  margin-bottom: 20px;
}
.custom-table .table-header h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.row-checkbox {
  border-top: 1px solid #707070;
  padding-top: 10px;
  margin-top: 10px;
}
.row-checkbox input {
  position: absolute;
  left: -99999999px;
}
.row-checkbox label {
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}
.row-checkbox label:before {
  content: "";
  height: 18px;
  width: 18px;
  border: 1px solid #e2007b;
  display: block;
}
.row-checkbox input:checked + label:after {
  content: "";
  height: 15px;
  width: 5px;
  border-bottom: 1px solid #e2007b;
  border-right: 1px solid #e2007b;
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: 2px;
}

.custom-table {
  padding: 0 20px;
}
.custom-table .table-body {
  margin-bottom: 20px;
}

footer {
  background-color: #000000 !important;
  padding: 50px 0;
}
footer .footer-logo {
  max-width: 300px;
}
footer .menu-links h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
footer .menu-links ul li {
  margin-bottom: 5px;
}
footer .menu-links ul li a {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
footer .menu-links p {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footer-note {
  background-color: #57abe0;
  padding: 10px;
}
.footer-note p {
  color: #fff;
  font-size: 14px;
}

.mobile-label {
  display: none;
}

.image-label {
  text-align: left;
}

.image-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.top-box {
  margin-right: auto;
  border-top: 1px solid #df0025;
  border-left: 1px solid #df0025;
  margin-bottom: -20px;
  height: 37px;
  width: 37px;
}

.bottom-box {
  margin-left: auto;
  border-bottom: 1px solid #df0025;
  border-right: 1px solid #df0025;
  margin-top: -30px;
  height: 37px;
  width: 37px;
}

.preview-image {
  padding: 0 15px;
}

.price-counter {
  margin-bottom: 20px;
}

.tooltip-wrapper .tooltiptext {
  bottom: 3rem;
}

.mobile-display {
  display: none;
}

.table-header {
  padding: 10px 0;
}
.table-header h2 {
  text-transform: uppercase;
  text-align: left;
  font-size: 16px !important;
}

.header-filter {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-filter .dropdown-wrapper {
  margin-bottom: 0;
}
.header-filter .dropdown-wrapper select {
  padding-top: 5px;
  padding-bottom: 5px;
}

.image-label.desktop-display {
  padding-left: 14%;
}

.data-container .table-body:not(:last-child) {
  border-bottom: 1px solid #707070;
  padding-bottom: 20px;
}

.option-upgrade {
  border-top: 1px solid #e2007b;
  border-bottom: 1px solid #e2007b;
  padding: 10px 0;
}
.option-upgrade .row-checkbox {
  border: none;
  padding: 0;
  margin: 0;
}

.num-mobile h2 {
  color: #fff;
}

.text-field input {
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  font-size: 14px;
  border-radius: 0;
  height: 46px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

.row-checkbox label:before {
  flex-shrink: 0;
}

.header-filter {
  gap: 0;
}

.option-wrapper .option-name {
  display: flex;
  align-items: center;
}

.option-wrapper {
  align-items: center;
}

.size-options {
  padding: 0 10px;
}
.size-options .option-row {
  margin-bottom: 25px;
}

.border-options {
  padding: 0 10px;
}
.border-options .option-row:not(:last-child) {
  margin-bottom: 38px;
}

.image-label {
  margin-top: -52px;
}

.tooltip-wrapper {
  position: relative;
}

.option-wrapper .dropdown-wrapper .product_dropdown {
  font-size: 16px;
  padding: 10px 50px 10px 10px;
}

.option-wrapper .dropdown-wrapper {
  max-width: 273px;
}

.price-counter,
.price-container {
  max-width: 130px;
  margin: 0 auto;
}

.price-container {
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.image-label.desktop-display {
  pointer-events: none;
}

.size-options,
.border-options {
  margin-top: 13px;
}

.price-main-container {
  margin-top: 30px;
}

.price-main-container {
  margin-top: 27px;
}

.text-field input {
  font-size: 14px;
}

.customize-btn {
  background-color: rgb(226, 0, 123);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  border: 1px solid rgb(226, 0, 123);
  display: flex;
  height: 44px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

.customize-btn:hover {
  color: rgb(226, 0, 123);
  background-color: #fff;
}

.border-button {
  padding: 0 10px;
  margin-top: 30px;
}

.height-wrapper {
  height: 34px;
  align-items: stretch;
}

.price-title-wrapper {
  text-align: left;
  max-width: 130px;
  margin: 0 auto;
}

.height-wrapper span,
.height-wrapper a,
.height-wrapper input {
  height: 100%;
}

.dropdown-wrapper select,
.text-field input {
  height: 44px;
  font-size: 14px;
}

.image-label {
  max-width: 400px;
}

.price-container {
  justify-content: flex-start;
  margin-top: 10px;
  position: relative;
}

.price-counter a {
  font-size: 20px;
}

.price-counter {
  max-width: 110px;
  margin-left: 0;
}

.price-title-wrapper,
.price-container {
  max-width: 100%;
}

.price-counter input {
  font-size: 16px;
}

@media (max-width: 1500px) {
  .option-wrapper .option-name,
  .dropdown-wrapper select,
  .text-field input {
    font-size: 12px;
  }
  .preview-image {
    height: 149px;
  }
  .image-label {
    font-size: 12px;
  }
  .customize-btn {
    font-size: 14px;
  }
  .row-checkbox label {
    font-size: 12px;
  }
}
@media (max-width: 1250px) {
  header .navbar .navbar-nav li a {
    font-size: 13px;
  }
  .header__info a {
    font-size: 13px;
  }
  .upload-wrapper .header-section h1 {
    font-size: 30px;
  }
  .upload-wrapper .header-section p {
    font-size: 18px;
  }
  .custom-table .table-header h2 {
    font-size: 16px;
  }
  .image-label {
    font-size: 13px;
  }
  .value-price .discounted-price,
  .value-price .original-price {
    font-size: 18px;
  }
}
@media (max-width: 1130px) {
  header .main_header__logo img {
    height: 35px;
  }
  header .navbar .navbar-nav li {
    margin: 0 5px;
  }
}
@media (max-width: 991px) {
  .custom-table .table-header {
    display: none;
  }
  .mobile-label {
    display: block;
    background-color: #57abe0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    margin-top: 20px;
  }
  .row-checkbox label {
    align-items: flex-start;
  }
  .row-checkbox input:checked + label:after {
    top: 0px;
  }
  .mobile-label {
    display: none;
  }
  .custom-table .table-header {
    display: flex;
    padding: 10px 15px;
  }
  .custom-table {
    width: 1400px;
    padding-top: 30px;
  }
  .scrollable-div {
    overflow-x: scroll;
    padding-bottom: 20px;
    /* Handle */
  }
  .scrollable-div::-webkit-scrollbar {
    height: 10px;
  }
  .scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 30px;
  }
  .scrollable-div::-webkit-scrollbar-thumb {
    background: #e2007b;
    border-radius: 30px;
  }
  .custom-table .table-body:nth-child(odd) {
    background-color: transparent;
  }
  .custom-table .table-body {
    padding: 0;
  }
  .row-checkbox label {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .row-checkbox label {
    font-size: 14px;
  }
  .mobile-label {
    font-size: 16px;
  }
  .dropdown-wrapper select {
    font-size: 14px;
  }
  .preview-image {
    width: 135px;
    height: 135px;
    margin: 0 auto 10px;
    display: block;
  }
  .custom-table .table-body {
    padding: 20px;
  }
  .image-wrapper {
    margin-bottom: 20px;
  }
  .custom-table {
    padding: 0 0px;
  }
  .upload-wrapper {
    padding: 50px 0;
  }
  .num-mobile h2 {
    font-size: 20px;
    text-align: center !important;
    padding: 10px 0;
  }
  footer .footer-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
  }
  footer .menu-links h2 {
    font-size: 16px;
    text-align: center;
  }
  footer .menu-links ul li {
    text-align: center;
  }
  footer .menu-links ul li a {
    font-size: 12px;
  }
  footer .menu-links {
    margin-bottom: 20px;
  }
  footer .menu-links p {
    font-size: 12px;
    text-align: center;
  }
  .footer-note p {
    font-size: 10px;
  }
  .upload-wrapper .header-section {
    margin-bottom: 40px;
  }
  .order__delete-link {
    height: 34px;
    display: flex;
  }
}
.table-mobile-header {
  display: none;
}

.option-wrapper label span {
  height: 100%;
  width: 100%;
}

.value-price .discounted-price {
  text-align: left;
  margin-bottom: 0px;
}

.price-container .class-inner {
  display: flex;
  gap: 15px;
  align-items: center;
}

.custom-table .table-body {
  position: relative;
}

@media (max-width: 767px) {
  .scrollable-div {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  .custom-table {
    padding: 0 0px;
    width: 100%;
  }
  .image-label.desktop-display {
    pointer-events: all;
    margin: 0;
    display: none;
    padding: 0;
  }
  .option-upgrade .row {
    gap: 10px;
  }
  .size-options .option-row {
    margin-bottom: 10px;
  }
  .border-options .option-row:not(:last-child) {
    margin-bottom: 20px;
  }
  .size-options,
  .border-options {
    margin-top: 20px;
    padding: 0;
  }
  .price-title-wrapper,
  .price-container {
    margin: 20px auto 10px;
  }
  .table-mobile-header {
    display: block;
    margin-top: 20px;
  }
  .desktop-table-header {
    display: none !important;
  }
  .price-title-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .custom-table .table-header h2 {
    padding: 0;
    text-align: center;
  }
  .customize-btn {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .border-button {
    padding: 0;
    margin-top: 10px;
  }
  .custom-table .table-header {
    margin-left: 0;
    margin-right: 0;
  }
  .custom-table .table-body {
    padding: 0;
  }
  .image-label.mobile-display {
    display: block !important;
    margin: 0 0 20px;
    text-align: center;
  }
  .price-main-container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .price-container {
    margin: 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .option-wrapper .dropdown-wrapper {
    max-width: 100%;
  }
  .custom_fields {
    width: 100%;
  }
  .header-filter {
    flex-direction: column;
    gap: 10px;
  }
  .header-filter [class^=col-] {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
  .width-container {
    width: 100%;
  }
  .image-label.mobile-display {
    width: 100%;
    max-width: 100%;
  }
  .price-main-container {
    margin-top: 0;
  }
  .mobile-price-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .price-counter {
    margin: 0;
  }
  .custom-table .table-body:nth-child(even) {
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .upload-wrapper .container-custom {
    padding: 0;
  }
  .custom-table .table-body {
    padding: 0 15px;
  }
  .custom-table .table-body {
    margin-bottom: 0;
  }
  .option-upgrade {
    padding: 10px 15px;
  }
  .custom-table .table-body:nth-child(odd) {
    padding-bottom: 20px;
  }
  .custom-table .table-body:not(:first-child) .product-bar {
    display: none;
  }
  .data-container .table-body {
    border: 3px solid #e2007b;
    margin: 0;
  }
  .data-container .table-body:not(:last-child) {
    border-bottom: none;
  }
  .data-container .table-body:not(:last-child) {
    border-bottom: none !important;
  }
  .upload-wrapper .header-section h1 {
    font-size: 25px;
  }
  .upload-wrapper .header-section p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .price-container .class-inner {
    gap: 10px;
  }
  .price-container {
    gap: 20px;
  }
}
@media (max-width: 350px) {
  .mobile-price-container {
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body * {
  font-family: "Montserrat", sans-serif;
}

.data-container .table-body:not(:last-child) {
  border-bottom: 3px solid #e2007b;
  padding-bottom: 20px;
}

.quantity-button {
  cursor: pointer;
}

.product-name-tag {
  font-size: 16px;
  color: #57abe0;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .mobile-remove {
    display: none;
  }
  .custom-table {
    width: 100%;
  }
  .custom-table .table-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .data-container .table-body {
    border: 3px solid #e2007b;
    margin: 0;
  }
  .data-container .table-body:not(:last-child) {
    border-bottom: none !important;
  }
  .num-mobile {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .custom-table .table-header {
    margin-top: 20px;
  }
  .selection-container {
    display: flex;
    flex-direction: column;
  }
  .selection-container .dropdown-wrapper {
    order: 2;
  }
  .selection-container .text-field {
    order: 3;
  }
  .product-name-tag {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .custom-table .main-table-header {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #e2007b;
  }
  .custom-table .main-table-header {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}/*# sourceMappingURL=new.css.map */